<li  class="dropdown data-admin-manu">
    <a href="#">
        AdASDADSmin
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li><a href="/Genre"> &nbsp;&nbsp; Genre</a></li>
        <li class="divider"></li>
        <li><a href="/User"> &nbsp;&nbsp; User</a></li>
        <li><a href="/Movie"> &nbsp;&nbsp; Movie</a></li>
        <li class="divider"></li>
    </ul>
</li>
